@import "tailwindcss";

/* O Shadcn injetou as cores dele aqui embaixo como variáveis, mantenha elas! */
@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  /* ... etc */
}

/* Mantenha os blocos :root que o Shadcn criou com os números HSL */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  /* ... resto das variáveis ... */
  --border: 240 5.9% 90%;
  --radius: 0.5rem;
}